.container {
    padding: var(--spacing-4);
    height: 100vh;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

@media screen and (min-width: 576px) {
    .container {
        flex-direction: row;
    }
}

.page-wrapper {
    flex: 1;
    box-shadow: var(--box-shadow);
    padding: var(--spacing-4);
}
