.sidebar {
    padding: 2rem;
    background-color: var(--bg);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 576px) {
    .sidebar {
        width: 18rem;
    }
}

.sidebar__nav-item {
    padding: 0.5rem 0;
    align-items: center;
    display: flex;
    height: 3rem;
    border-bottom: 1px solid var(--text-muted);
}

.sidebar__nav-item-title {
    flex: 1;
    cursor: pointer;
}

.sidebar__nav-item-title:hover {
    color: var(--primary);
}

.sidebar__nav-item-title--active {
    color: var(--primary);
    font-weight: bold;
}

.sidebar__nav-item-actions {
    display: flex;
    align-items: center;
    gap: 0.125rem;
}
