@import url("./styles/reset.css");
@import url("./styles/base.css");
@import url("./styles/container.css");
@import url("./styles/sidebar.css");

.empty-message {
    padding: var(--spacing-2) var(--spacing-2);
    font-weight: 700;
    display: block;
    box-shadow: var(--box-shadow);
}
